.editor {
    display: inline-flex;
    gap: 10px;
    font-family: monospace;
    line-height: 21px;
    background: #282a3a;
    border-radius: 2px;
    padding: 20px 10px;
  }

  .line-numbers {
    width: 20px;
    text-align: right;
  }

  .line-numbers span {
    counter-increment:  linenumber;
  }

  .line-numbers span::before {
    content: counter(linenumber);
    display: block;
    color: #506882;
  }

  textarea {
    line-height: 21px;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0;
    border: 0;
    background: #282a3a;
    color: #FFF;
    min-width: 800px;
    min-height: 500px;
    outline: none;
    resize: none;
  }